<Settings>
	<Theme>default</Theme>        
	<language>Russian_Russkiy</language>
	<BUILD_DIR>D:\TEMP\PS3MFW</BUILD_DIR>
	<PS3_KEYS>D:/00/ps3tools/ps3mfw/trunk/ps3keys</PS3_KEYS>	
	<IN_FILE>D:/00/ps3tools/ps3mfw/PS3UPDAT.PUP</IN_FILE>	
	<OUT_FILE>D:/00/ps3tools/ps3mfw/test.PUP</OUT_FILE>	    
	<tasks></tasks>
</Settings>